/* Removing default margin and padding assignments. They are very annoying */
body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}
* h2, h1, a, h3,p,li,td{
/*  font-family: "Segoe UI",Arial,sans-serif;*/
  font-family: "Karla",Verdana,sans-serif;
  font-weight: 50;
}
img {
  margin: 1em;
}
#mass_contain {
  padding: 6em;
}
*{
  line-height: 2em;
}
* p, li, tr, td{
  font-size: 1.1rem;
}
* p{
  font-family: Arial;
}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #337ab7;
  transition: 1s ease;
  font-size: 1em;
  right: 10px;
  padding: 10px;
  color: white;
}
#myBtn:hover {
  background-color: #777;
}
/* Navigation bar code skeleton. colors and designing will be added into a later section*/
/* I might just comment this out this skeleton but lets just see where this goes */
#nav_bar { 
	background-color: #fff; 
	padding: 1em;
	top: 0;
	margin: 0;
  border-bottom: 1px solid gray;

}
#nav_bar ul {
	list-style-type: none;
}
#current_button{
  border-color: #E4B363;
  color: #313638;
}
#current_button:hover{
  background-color: #E4B363;
  color: #E0DFD5;
}
.nav_item {
	border: 1px solid #EF6461;
	display: inline-block;
	margin: 1%;
  width: 10em;
  padding: .5em 1.5em;
  transition: .3s ease;
}
#nav_bar a {
	color: #313638;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1em;
}
.nav_item p{
  display: inline;
}
#nav_bar a:hover {
  color: #E0DFD5;
}
.nav_item:hover {
  background-color: #EF6461;
  transition: .1s ease;
}
/* slanted picture here */
.promo {
  background: url("https://www.energy.gov/sites/prod/files/2017/06/f35/Raft%20River-2-PowerPlant-Garchar14.JPG") no-repeat;
  background-size: cover;
  font-family: serif;
  overflow: hidden;
  padding: 150px 20px;
  position: relative;
  text-align: center;
  transition: .2s ease-in;
  transition-delay: .4s;
  height: 100vh;
  text-shadow: 1px 1px 3px #313638;
}

.promo h1 {
	font-size: 32px;
  color: #fff;
  font-family: "Karla",Verdana,sans-serif;
}
  
.promo p {
	font-size: 14px;
  font-weight: 300;
  margin-top: 0.5em;
  color: #313638;
}

.header_meet {
	background-color: white;
	background-size: cover;
	overflow: hidden;
	position: relative;
	text-align: center;
  color: #313638;
  text-align: left;
}

.header_meet h1{
  color: #313638;
}

/*Media Queries for mobile and big screen nav_bar */
@media screen and (min-width: 400px) {
    .nav_item {
        display: block;

    }
@media screen and (min-width: 800px){
  .nav_item{
    display: inline;
  }
}
#mass_contain {
  padding: 3rem;
}
/* slide show part ================================ */
* {
	box-sizing: border-box
}
.mySlides {
	display: none
}
.slideshow-container img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  padding: 5px 4px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0,0,0,0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(1,0,0,0.9);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  background-color: rgba(0,0,0,0.5); 
  font-weight: thin;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {
    font-size: 11px
  }
}
/*Information section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.type_contain img{
  max-width: 20em;
  max-height: 20em;
  float: right;
}

.type_contain {
  width: 80%;
  margin: auto;
  display: flex;
}
.type_p {
  width: 65%;
  text-align: left;
  display: inline-block;
}

@media only screen and (min-width: 400px) {
  .type_contain {
    width: 100%;
  }
  .promo {
    height: 50vh;
  }
}
@media only screen and (min-width: 800px) {
  .type_contain {
    width: 90%;
  }
}
@media only screen and (min-width: 100px) {
  .type_p {
    width: 100%;
  }
}
/* table of contents */
#directory {
  font-family: "Segoe UI",Arial,sans-serif;
  background-color: ;
}
#directory a{
  color: #EF6461;
}

/* Pros and cons table code */
tr, td, th {
  padding: .5em;
  margin: auto;
}
table {
  margin: auto;
  width: content;
}
#pros_cons {
  text-align: left;
}
.pro {
  width: 50%;
  border-right: 2px dotted black;
}
.slideshow-container img {
  margin: 0;
}
#bibl_contain {
  background-color: white;
  padding: 5em;
}
@media only screen and (min-width: 500px) {
  iframe {
    width: 100%;
    height: 800px;
  }
}
@media only screen and (min-width: 800px) {
  iframe{
    width: 100%;
    height: 400px;
  }
}
#go_right {
  float: right;
  max-width: 48%
}
#go_left {
  float: left;
  width: 48%;
  margin: 2%;
  padding: 0;
}
#go_left img{
  margin: 0;
}
@media only screen and (min-width: 500px) {
  #go_left img {
    width: 100%;
  }
    #locations img{
    width: 100%;
    max-height: 30%;
  }
}
@media only screen and (min-width: 400px) {
  #go_left img {
    width: 100%;
  }
  #locations img{
    max-width: 100%;
    max-height: 50%;
  }
}
#col_contain {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 10em;
}
#mass_contain {
  padding: 2em 10em;
}
@media only screen and (max-width: 800px) {
  #col_contain {
    padding: 1em 5em;
  }
  #mass_contain{
    padding: 1em 5em;
  }
  .promo {
    height: 80vh;
  }
  #locations img{
    max-width: 100%;
    max-height: 50%;
  }
}
@media only screen and (max-width: 700px) {
  #mass_contain, #col_contain {
    padding: .5em 1em;
  }
  #col_contain iframe {
    width: 100%;
    height: 900px;
  }
  #go_left, #go_right {
    float: none;
    max-width: 100%;
  }
  #go_left{
    width: 100%;
  }
  .promo {
    height: 70vh;
  }
  #locations img{
    max-width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 500px) {
  #col_contain {
    padding: 0;
  }
}
/*QUIZ TIME */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #38a;
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}